@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Bold.eot");
  src: url("/fonts/SofiaPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SofiaPro-Bold.woff2") format("woff2"),
    url("/fonts/SofiaPro-Bold.woff") format("woff"),
    url("/fonts/SofiaPro-Bold.ttf") format("truetype"),
    url("/fonts/SofiaPro-Bold.svg#SofiaPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-UltraLight.eot");
  src: url("/fonts/SofiaPro-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SofiaPro-UltraLight.woff2") format("woff2"),
    url("/fonts/SofiaPro-UltraLight.woff") format("woff"),
    url("/fonts/SofiaPro-UltraLight.ttf") format("truetype"),
    url("/fonts/SofiaPro-UltraLight.svg#SofiaPro-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro.eot");
  src: url("/fonts/SofiaPro.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SofiaPro.woff2") format("woff2"),
    url("/fonts/SofiaPro.woff") format("woff"),
    url("/fonts/SofiaPro.ttf") format("truetype"),
    url("/fonts/SofiaPro.svg#SofiaPro") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-SemiBold.eot");
  src: url("/fonts/SofiaPro-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SofiaPro-SemiBold.woff2") format("woff2"),
    url("/fonts/SofiaPro-SemiBold.woff") format("woff"),
    url("/fonts/SofiaPro-SemiBold.ttf") format("truetype"),
    url("/fonts/SofiaPro-SemiBold.svg#SofiaPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Medium.eot");
  src: url("/fonts/SofiaPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SofiaPro-Medium.woff2") format("woff2"),
    url("/fonts/SofiaPro-Medium.woff") format("woff"),
    url("/fonts/SofiaPro-Medium.ttf") format("truetype"),
    url("/fonts/SofiaPro-Medium.svg#SofiaPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Light.eot");
  src: url("/fonts/SofiaPro-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SofiaPro-Light.woff2") format("woff2"),
    url("/fonts/SofiaPro-Light.woff") format("woff"),
    url("/fonts/SofiaPro-Light.ttf") format("truetype"),
    url("/fonts/SofiaPro-Light.svg#SofiaPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Sofia Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: auto;
}

// header section start

.headerSec {
  padding: 16px 0;
  float: left;
  width: 100%;
  border-bottom: 0px solid #f4f4f4;
  background: #fff;
  position: relative;
}

.headerWrp {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    object-fit: cover;
    aspect-ratio: initial;
    max-width: 160px;
    height: auto;
  }
}

.navBar {
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  column-gap: 21px;
  min-height: auto !important;
  padding: 0;

  .menu-item {
    position: relative;
    white-space: nowrap;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-right: 0;

    .menu-link {
      color: #3b4958;
      font-size: 18px;
      text-decoration: none;
      position: relative;
      font-weight: 700;
      display: flex;
      align-items: center;
      font-family: "Sofia Pro";

      &:hover {
        color: #e41e26;
      }
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;
      min-width: 220px;
      max-width: 100%;
      width: 100%;

      .dropdown-item {
        white-space: nowrap;
        border-bottom: 1px solid #e8e8e8;
        position: relative;

        &:hover {
          .submenu-link {
            color: #e41e26;
          }

          .iconSubMenu {
            color: #e41e26;
          }
        }

        .iconSubMenu {
          position: absolute;
          right: -3px;
          top: 9px;
        }

        .submenu-link {
          padding: 8px 16px;
          color: #3b4958;
          font-size: 18px;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-height: 26px;
          font-weight: 700;
          font-family: "Sofia Pro";

          &:hover {
            color: #e41e26;

            .iconSubMenu {
              color: #e41e26;
            }
          }
        }

        .sub-dropdown {
          position: absolute;
          top: 0;
          left: 100%;
          background-color: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

          .sub-dropdown-item {
            border-bottom: 1px solid #e8e8e8;

            .submenu-link {
              color: #3b4958;
              font-size: 18px;
              text-decoration: none;
              padding: 8px 16px;

              &:hover {
                color: #e41e26;
              }
            }
          }
        }

        &:hover > .sub-dropdown {
          background-color: #fff;
          box-shadow: none;
        }
      }
    }

    &:hover > .dropdown {
      display: block;
    }
  }
}

.menu-item .arrow-icon {
  transform: rotate(0deg);
  color: #74bc53;
}

.menu-item:hover .arrow-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  color: #74bc53;
}

.menu-link .arrow-icon {
  transition: transform 0.3s ease;
}
.navBar .menu-item .dropdown {
  min-width: 260px;
}
.navBar .menu-item .dropdown .dropdown-item:hover > .sub-dropdown {
  overflow: auto;
  max-height: 568px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400;
  width: 100%;
}

.btn {
  display: flex;
  color: #fff;
  border-radius: 6px;
  padding: 6px 15px;
  text-decoration: none;
  column-gap: 5px;
  background: transparent;
  border: 1px solid #333;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  height: 45px;
  padding: 0px 25px 0;
  border-radius: 6px;
  text-decoration: none;
  line-height: 43px;
  position: relative;
  align-items: center;
}

// .btn:hover {
//     background: #E22929;
// }

.common_btn {
  background: rgb(194, 194, 194);
  background: -moz-linear-gradient(
    90deg,
    rgba(194, 194, 194, 1) 0%,
    rgba(219, 219, 219, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(194, 194, 194, 1) 0%,
    rgba(219, 219, 219, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(194, 194, 194, 1) 0%,
    rgba(219, 219, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2c2c2", endColorstr="#dbdbdb", GradientType=1);
  padding: 3px 30px 3px;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
  border: 0;
  font-size: 18px;
  line-height: normal;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  display: inline-block;
}

.common_btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.common_btn:hover:after {
  left: 0;
  width: 100%;
}

.common_btn:hover,
.common_btn:focus {
  color: #000;
  outline: none;
}

.common_btn {
  border: none;
  z-index: 1;
}

.common_btn {
  background: rgb(194, 194, 194);
  background: -moz-linear-gradient(
    90deg,
    rgba(194, 194, 194, 1) 0%,
    rgba(219, 219, 219, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(194, 194, 194, 1) 0%,
    rgba(219, 219, 219, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(194, 194, 194, 1) 0%,
    rgba(219, 219, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2c2c2", endColorstr="#dbdbdb", GradientType=1);
  padding: 3px 30px 3px;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
  border: 0;
  font-size: 18px;
  line-height: normal;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  display: inline-block;
}

.common_btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.common_btn:hover:after {
  left: 0;
  width: 100%;
}

.common_btn:hover,
.common_btn:focus {
  color: #000;
  outline: none;
}

.common_btn:active {
  top: 2px;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

#heroWrp {
  background: #f5f5f5;

  div {
    padding: 0;
  }
}

#bannerWrp {
  height: 400px;
  overflow: hidden;
}

#bannerWrp .MuiBox-root {
  height: auto;
}

#bannerWrp img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#bannerWrp {
  .slick-dots {
    bottom: 20px;
  }

  .slick-dots li button {
    border-radius: 100%;
  }

  .slick-dots li button:before {
    font-size: 18px;
    opacity: 1;
    color: #f4f4f4;
  }

  .slick-active button:before {
    color: #d2ac67 !important;
  }
}

.borderM {
  content: "";
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to left,
    #d9b768 0%,
    #fdf496 25%,
    #ddb475 50%,
    #e22929 75%,
    #8e8b2c 100%
  );
}

#heroWrp {
  .heroLeftSec {
    display: flex;
    padding: 2% !important;
    padding-right: 4% !important;
    background: #d2ac67;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column !important;
    text-align: center;
    background: rgb(226, 41, 41);
    background: linear-gradient(
      357deg,
      rgba(226, 41, 41, 1) 0%,
      rgba(142, 139, 44, 1) 100%
    );
    color: #fff;

    .titleName {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }

  .buttonWrp {
    display: flex;
    column-gap: 15px;
    margin-top: 15px;

    .btn:hover {
      background: #fff;
      color: #000;
    }
  }
}

#TrustValueProps {
  background: #f5f5f5;

  svg {
    background: #e22929;
    color: #fff;
    border-radius: 100%;
    padding: 5px;
    outline: 1px solid #e22929;
    outline-offset: 4px;
  }
}

#footer {
  position: relative;

  a {
    display: flex;
    color: #fff;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;

    &:hover {
      color: #d2ac67;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to left,
      #d9b768 0%,
      #fdf496 25%,
      #ddb475 50%,
      #e22929 75%,
      #8e8b2c 100%
    );
  }

  h6 {
    color: #d2ac67;
  }

  .copyRight {
    background: #000;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
  }

  ul {
    padding: 0;
  }

  input {
    padding: 10px;
  }

  .btn {
    display: flex;
    background: #d2ac67;
    color: #fff;
    border-radius: 6px;
    padding: 8px 15px;
    text-decoration: none;
    column-gap: 5px;
  }
}

#featuredWork .btn {
  font-weight: 600;
  color: #000;
}

#featuredWork .btn:hover {
  color: #e22929;
  background: none;
}

#featuredWork .comm-cat-img-c {
  position: relative;
}

#featuredWork .comm-cat-img-c:after,
#featuredWork .comm-cat-img-c:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background: #f9ed91;
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 4;
  right: 0;
}

#featuredWork .comm-cat-img-c:before {
  right: 0;
  top: 0;
}

#featuredWork .comm-cat-img-c:hover:after,
#featuredWork .comm-cat-img-c:hover:before {
  width: 100%;
}

#featuredWork .comm-cat-img {
  display: block;
  -webkit-box-shadow: 0 25px 50px rgba(47, 59, 96, 0.05),
    0 7px 14px rgba(47, 59, 96, 0.02), 0 3px 7px rgba(8, 8, 8, 0.02);
  box-shadow: 0 25px 50px rgba(47, 59, 96, 0.05),
    0 7px 14px rgba(47, 59, 96, 0.02), 0 3px 7px rgba(8, 8, 8, 0.02);
  position: relative;
}

#featuredWork .comm-cat-img:after,
#featuredWork .comm-cat-img:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  background: #f9ed91;
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 4;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#featuredWork .comm-cat-img:before {
  left: 0;
  top: 0;
}

#featuredWork .comm-cat-img:after {
  right: 0;
  bottom: 0;
}

#featuredWork .comm-cat-img:hover {
  -webkit-box-shadow: 0 25px 50px rgba(47, 59, 96, 0.35),
    0 7px 14px rgba(47, 59, 96, 0.35), 0 3px 7px rgba(8, 8, 8, 0.2);
  box-shadow: 0 25px 50px rgba(47, 59, 96, 0.35),
    0 7px 14px rgba(47, 59, 96, 0.35), 0 3px 7px rgba(8, 8, 8, 0.2);
}

#featuredWork .comm-cat-img:hover:after,
#featuredWork .comm-cat-img:hover:before {
  height: 100%;
}

#featuredWork .comm-cat-img img {
  max-width: 100%;
  display: block;
}

#featuredWork .btnN {
  display: flex;
  background: #000;
  color: #fff;
  border-radius: 6px;
  padding: 6px 25px;
  text-decoration: none;
  column-gap: 5px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 18px;
}

#featuredWork .btnN:hover {
  background: #e22929;
}

#whyChooseUs {
  .circleIcon {
    color: #e22929;
  }

  .MuiListItemIcon-root {
    min-width: 40px;
  }

  h2 {
    font-size: 45px;
  }
}

#featuredWork h2 {
  font-size: 45px;
}

#signageSolutions h2 {
  font-size: 45px;
}

#signageSolutions .slick-slide .MuiPaper-rounded {
  width: 95% !important;
}

#signageSolutions {
  padding-bottom: 5em;

  .slick-dots li button:before {
    opacity: 0.7;
  }
}

// #signageSolutions .slick-slide .MuiAvatar-circular {
//     width: 60px !important;
//     height: 60px !important;
// }
#testiMonialsWrp {
  background: #f5f5f5;
  padding: 4em 0;

  h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
  }
}
#OurCompetitiveSec {
  background: #ffffff;
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(239, 246, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(239, 246, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(239, 246, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#EFF6FF", GradientType=0 );
  .MainHead {
    max-width: fit-content;
  }
  h2 {
    margin-bottom: 1rem;
  }
  li {
    padding: 0;
  }
  .getTitle {
    text-align: center;
    display: block !important;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    color: #4d4a4a;
  }
  .popup-form-overlay {
    background: #fff;
  }
}
#quotePopup {
  .MuiStack-root {
    padding-top: 0;
  }
}
.subTitle {
  text-align: center;
  font-size: 2rem !important;
  position: relative;
  span {
    padding: 0 25px;
    z-index: 2;
    background: #f5f5f5;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
  }
  &:after {
    border-bottom: 1px solid rgb(0 51 102);
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    width: 100%;
    z-index: 1;
  }
}
#ExperienceServicesSec {
  position: relative;
  text-align: center;
  background: #003366;
  .MainHead {
    max-width: max-content;
    margin-bottom: 1rem;
  }
  h2 {
    color: #fff;
  }
  p {
    margin-bottom: 1rem;
    color: #fff !important;
  }
}
.contentSec {
  h3 {
    font-size: 1.5rem !important;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
#IdealShop #PrintingService {
  h2 {
    margin-bottom: 2rem;
  }
}
#ExceptionalCustomer {
  background: #b0cb1f;
  color: #fff;
  padding: 3em 0;
  text-align: center;
  border-radius: 0;
  .MainHead {
    max-width: fit-content;
  }
  h2 {
    color: #f2f2f2;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    color: #000;
    margin-bottom: 1rem;
  }
}
#suBpageWrp {
  p {
    margin-bottom: 1rem !important;
  }
}
.ListWrp {
  li {
    padding: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    .MuiListItemText-root {
      margin-top: 0;
    }
  }
}
.serviceSupPage {
  p {
    margin-bottom: 1rem;
  }
}
.customizationOptions {
  li {
    color: #fff;
  }
}
.twoColumn li {
    color: #000;
}
.footMenu {
    li{
        border: none;
    }
}
.policyWrp{
    clear: both;
    max-width: 1100px !important;
    color: #003366;
    p{
        margin-top: .5em;
        margin-bottom: .5em;
    }
    a{
        font-weight: 600;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 600;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    h4{
        font-size: 1.2rem;
        font-weight: 600;
    }
    h4{
        font-size: 1.1rem;
        font-weight: 600;
    }
    h5{
        font-size: 1rem;
        font-weight: 600;
    }
    h6{
        font-size: 1rem;
        font-weight: 600;
    }
    .ListWrp li{
      color:#4d4a4a;
    }
}
#errorPage{
  padding-top: 5em;
  border: none;
  h1 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .common_btn.book_btn {
    background: #003366;
}
}